# This file is used to configure Lombok

# Tell Lombok to add @lombok.Generated annotation to all generated methods
lombok.addLombokGeneratedAnnotation = true

# Make Lombok compatible with JDK 11
lombok.experimental.flagUsage = warning

# Enable Lombok's processing of @Data annotation
lombok.data.flagUsage = allow

# Configure Lombok to be more compatible with IDEs
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy

# Stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true
